.cli-command-details-err-output-label,
.cli-command-details-std-output-label {
    color: #333;
    margin-bottom: 4px;
}

.cli-command-details-err-output-label {
    margin-top: 16px;
}

.cli-call-details-error-message {
    margin-bottom: 16px;
}