.list-of-tests {
}

.list-of-tests .test-card {
    padding: 10px 20px;
    border-bottom: 1px var(--webtau-list-item-separation-color) solid;
    user-select: none;
    cursor: pointer;
}

.list-of-tests .test-card.selected {
    border-left: 5px solid #ba951c;
    background-color: var(--webtau-selected-test-background);
    padding-left: 22px;
}

.list-of-tests .test-card  {
    display: flex;
    justify-content: space-between;
}

.list-of-tests .status.failed {
    color: #f88c27;
}

.list-of-tests .status.errored {
    color: #f88c27;
}

.list-of-tests .status.passed {
    color: #65bc0c;
}

.list-of-tests .status.skipped {
    color: #ddd;
}

.list-of-tests .test-card .scenario {
    font-size: 14px;
    max-height: 70px;
    overflow-y: hidden;
}
