.test-details {
    display: flex;
    flex-direction: column;

    height: 100%;
    max-height: 100%;
    overflow: auto;

    box-sizing: border-box;
}

.test-details .assertion,
.test-details .exception-message,
.test-details .context-description {
    font-size: 14px;
    font-family: Monospaced, monospace;
    color: #b02f08;
}

.test-details pre.stack-trace {
    padding: 0;
    margin: 0;
    font-size: 14px;
    font-family: Monospaced, monospace;
}

.test-details .context-description {
    border-bottom: 1px #eee solid;
}

.test-details > .tabs-details-area {
    flex-basis: 40px;
}

.test-details > .detail-area {
    flex: 1;
    overflow: auto;
    padding: 10px 20px 10px 30px;
}
