:root {
    --webtau-test-selection-background-color: #5b666c;
    --webtau-test-status-filter-background-color: #3e474b;
    --webtau-selected-test-background: #906a59;
    --webtau-list-item-separation-color: #6d7a81;
    --webtau-source-code-background-color: #f0edeb;
    --webtau-card-border-color: rgba(91, 91, 91, 0.12);
    --webtau-card-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
}

body {
    color: #333;
    background-color: #f8f8f8;
    font-size: 14px;
    font-family: Helvetica, sans-serif
}

.report {
    display: grid;
    grid-template-columns: 350px 1fr;
    grid-template-rows: 36px 37px 1fr 30px;

    grid-template-areas: "selection details"
                         "   search details"
                         "     list details"
                         "   status details";

    min-height: 100vh;
    height: 100vh;
}

.report > .report-name-area {
    grid-area: selection;
    display: flex;
    align-items: center;
    font-size: 16px;
    color: #cdcdcd;
    background-color: var(--webtau-test-status-filter-background-color);
    border-bottom: 1px solid #50595e;
    padding-left: 20px;
    cursor: pointer;
}

.report-name-area > .tool-name {
    text-transform: lowercase;
}

.report > .search-area {
    grid-area: search;
    background-color: var(--webtau-test-selection-background-color);
    border-bottom: 1px solid var(--webtau-list-item-separation-color);
}

.search-area input {
    font-size: 14px;
    background-color: #333;
    color: #ddd;

    width: 100%;
    height: 100%;


    padding: 10px 4px 10px 20px;
    margin: 0;
    border: none;
    outline: none;
    box-sizing: border-box;
}

.report > .items-lists-area {
    grid-area: list;
    color: #ddd;
    background-color: var(--webtau-test-selection-background-color);

    height: 100%;
    border-right: 1px solid var(--webtau-test-status-filter-background-color);

    overflow-y: auto;
}

.report > .test-details-area {
    grid-area: details;
    overflow: scroll;
}

.report > .status-filter-area {
    grid-area: status;
    color: #eee;
    background-color: var(--webtau-test-status-filter-background-color);
    border-right: 1px solid var(--webtau-test-status-filter-background-color);
}
