.details-tab-selection > .tab-names {
    display: flex;
    width: 100%;
    background-color: #fff;
    border-bottom: 1px solid #ddd;
}

.details-tab-selection > .tab-names > .tab-name {
    font-size: 14px;
    color: #888;

    padding: 10px 15px;

    cursor: pointer;
    user-select: none;
}

.details-tab-selection > .tab-names > .tab-name.selected {
    color: #333;
    border-bottom: 2px solid var(--webtau-test-status-filter-background-color);
    margin-bottom: -1px;
}