.source-code {
    margin-bottom: 15px;
}

.source-code > .file-path {
    display: inline-block;
    font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
    color: #777;

    width: auto;

    border-top-left-radius: 5px;
    border-top-right-radius: 5px;

    background-color: var(--webtau-source-code-background-color);
    padding: 10px;
}

pre.language-groovy {
    margin: 0;
    background-color: var(--webtau-source-code-background-color);
}

.token.operator {
    background-color: var(--webtau-source-code-background-color);
}