.steps .step .children {
    margin-left: 15px;
}

.steps .step .message {
}

.steps .step .token {
    font-size: 14px;
}

.steps .step .token.id {
    color: #333;
    font-weight: bold;
}

.steps .step .token.action {
    color: #4862d7;
}

.steps .step .token.matcher {
    color: #62a84b;
}

.steps .step .token.error {
    color: #b02f08;
}

.steps .step .token.delimiter {
    color: #918693;
}

.steps .step .token.stringValue {
    color: #5e853c;
}

.steps .step .token.preposition {
    color: #7f7885;
}

.steps .step .token.selectorType {
    color: #ab68ae;
    font-weight: bold;
}

.steps .step .token.selectorValue {
    color: #ab68ae;
}